@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground bg-bgblack;
  }

  h1 {
    @apply text-2xl font-normal font-canon text-white;
  }

  h2 {
    @apply text-xl font-semibold text-white font-canon;
  }

  p {
    @apply text-2xl font-crimson text-white;
  }
}